<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.men.calculateclient">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BroadcastActivity" />
        <service android:name=".service.MyTestIntentService" />

        <receiver android:name=".receiver.Priority1BroadcastReceiver">
            <intent-filter android:priority="1">
                <action android:name="com.tbc.hsx.testbroadcast.MainActivity" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.Priority2BroadcastReceiver">
            <intent-filter android:priority="2">
                <action android:name="com.tbc.hsx.testbroadcast.MainActivity" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.Priority3BroadcastReceiver">
            <intent-filter android:priority="3">
                <action android:name="com.tbc.hsx.testbroadcast.MainActivity" />
            </intent-filter>
        </receiver>
    </application>
</manifest>